<div class="user-container">
    <div class="username">{{user.username}}</div>
    <div class="user-info-container">
        <div class="posts-header">Posts:
            <div class="post-header">
            {{#each user.posts as |post|}}
                <a class="post-anchor" href="/posts/{{id}}">
                {{post.title}}
                </a>  
            {{/each}} 
            </div>
        </div>
        <div class="comments-container"> 
            <div class="comments-header">Comments:</div>
            {{#each user.comments as |comment|}}
                <a href="/posts/{{post_id}}">
                    <div class="each-comment">{{comment.content}}
                        <div class="each-comment-date">{{comment.createdAt}}</div>
                    </div>
                </a>
            {{/each}}
        </div>
    </div>
</div>